<!DOCTYPE html>
<html>
  <head>
    <title>Game0</title>
<link href="/styles.css" rel="stylesheet">
    <link href="https://i.ibb.co/y6L3X97/image.png" rel="icon">
  </head>
  <body
    <div class="navbar">
      <h1>Game0</h1>
      <div>
        <a href="/">Home</a>
        <a href="/games">Games</a>
      </div>
    </div>
    <div class="container">
      <center><h1 t="1">Game0</h1></center>
      <center><input id="searchInput" placeholder="search for games..."></center>
      <div id="gameList">
        <% games.forEach(game => { %>
        <a href="/game/<%= game.id %>" class="game-card">
          <img src="<%= game.image %>" alt="<%= game.title %>">
          <div class="game-card-content">
            <h3 class="game-card-title"><%= game.title %></h3>
            <p class="game-card-description"><%= game.description %></p>
          </div>
        </a>
        <% }); %>
      </div>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
